<h5>{{document?.number}}</h5>
<h6 class="mt-3">
    {{document?.customer?.adrName}}
</h6>
<div>
    {{document?.customer?.adrStreet}} {{document?.customer?.adrStreetNo}}
</div>
<div>
    {{document?.customer?.adrCity}} {{document?.customer?.adrZipCode}}
</div>

<div>
    NIP: {{document?.customer?.adrNip}}
</div>
<div class="row mt-2 border-top">
    <div class="col-3">Data:</div>
    <div class="col-4 text-end">{{document?.issueDate | date:'shortDate'}}</div>
</div>
<div class="row">
    <div class="col-3">Netto:</div>
    <div class="col-4 text-end">{{document?.totalNet | number : '1.2-2'}} PLN</div>
</div>
<div class="row">
    <div class="col-3">Brutto:</div>
    <div class="col-4 text-end">{{document?.totalGross | number : '1.2-2'}} PLN</div>
</div>
<div class="row">
    <div class="col-3">Do zapł.:</div>
    <div class="col-4 text-end">{{document?.paymentToBeSettled | number : '1.2-2'}} PLN</div>
    <div *ngIf="(document?.paymentToBeSettled ?? 0) > 0" class="col-5">
        <input type="button" class="btn btn-primary btn-sm" value="Zapłać" (click)="pay()">
    </div>
</div>

<div class="mt-3 border-top">
    <div *ngFor="let item of document?.items" class="row border-bottom pb-2">
        <div class="col-sm-12 fw-medium">
            {{item?.product?.name}}
        </div>
        <div class="col-4 col-lg-2">
            {{item?.quantity}} {{item.product?.unit}}
        </div>
        <div class="col-4 col-lg-2">
            Netto: {{item?.priceNet | number : '1.2-2'}}
        </div>
        <div class="col-4 col-lg-2">
            Brutto: {{item?.priceGross | number : '1.2-2'}}
        </div>

        <div class="col-6 col-lg-2">
            Suma N.: {{item?.lineNet | number : '1.2-2'}}
        </div>
        <div class="col-6 col-lg-2">
            Suma B.: {{item?.lineGross | number : '1.2-2'}}
        </div>
    </div>
</div>

