<div class="bg-white position-fixed bottom-0 w-100 z-1 shadow-lg d-block d-lg-none text-center">
    <div class="d-flex align-items-center">
       <div class="w-25 icon-hover py-2">
          <!-- Button -->
          <button
             class="navbar-toggler collapsed d-lg-none"
             type="button"
             data-bs-toggle="offcanvas"
             data-bs-target="#navbar-default"
             aria-controls="navbar-default"
             aria-expanded="false"
             aria-label="Toggle navigation">
             <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                <path
                   d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
             </svg>
          </button>
       </div>

       <div class="w-25 ms-2 py-2 icon-hover">
          <a [routerLink]="['/promos']" >
             <i class="bi bi-stars fs-2"></i>
          </a>
       </div>
       <div class="w-25 ms-2 py-2 icon-hover">
          <a [routerLink]="['/categories']" >
             <i class="bi bi-list-ul fs-2"></i>
          </a>
       </div>
       <div class="w-25 ms-2 py-2 icon-hover">
           <a [routerLink]="['/customers']" >
             <i class="bi bi-people fs-2"></i>
          </a>
       </div>
       <div class="w-25 ms-2 py-2 icon-hover">
          <a [routerLink]="['/cart']">
             <div class="text-center">
                <div>
                   <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                      <path
                         d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                   </svg>
                </div>
             </div>
          </a>
       </div>
       <div class="w-25 ms-2 py-2 icon-hover fs-2">
          <a [routerLink]="['/summary']" >
            <i class="bi bi-file-earmark-spreadsheet"></i>
          </a>
       </div>
    </div>
 </div>