<ul class="list-group">
    <li class="list-group-item">
        <h6>Kontrahent</h6>
        <strong>{{transaction?.customer?.adrName}}</strong><br />
        {{transaction?.customer?.adrNip}}<br />
        {{transaction?.customer?.adrStreet}} {{transaction?.customer?.adrStreetNo}}
        {{transaction?.customer?.adrNumber}}<br />
        {{transaction?.customer?.adrCity}} {{transaction?.customer?.adrZipCode}}<br />
    </li>
    <li class="list-group-item">
        <h6>Do zapłaty</h6>
        <strong>{{transaction?.totalGross}} PLN </strong><br>
        {{transaction?.totalNet}} PLN netto
    </li>
    <li class="list-group-item">
        <h6>Płatność</h6>
        Gotówka: <strong>{{transaction?.cashAmount}}</strong> PLN<br />
        <div *ngIf="secondPaymentMethod">
            <strong>{{secondPaymentMethod.name}}: {{transaction?.secondMethodAmount}}</strong> PLN
            <span *ngIf="secondPaymentMethod.deferred">
                , <strong>{{transaction?.paymentDueDays}}</strong> dni
            </span>
        </div>
    </li>
    <li class="list-group-item">
        <h6>Dostawa</h6>
        <div *ngIf="deliveryMethod">
            <div>
                <strong>{{deliveryMethod.name}}</strong>
            </div>
            <div>
                Opłata za dostawę: <strong>{{transaction?.deliveryGross}}</strong> PLN
            </div>
            <div>
                Ilość paczek: {{transaction?.packagesNumber}}
            </div>
        </div>
        <div *ngIf="!deliveryMethod">
            Bez dostawy
        </div>
    </li>
</ul>
<div class="save">
    <div class="position-relative mt-5">
        <div class="position-absolute start-50 translate-middle">
            <button class=" btn btn-primary" (click)="saveTransaction()">Zapisz</button>
        </div>
    </div>
</div>