<div class="card mb-2">
    <div class="card-body">
        <h6>{{data.name}}</h6>
        <div class="d-flex">
            <div>
                <span class="fw-medium">
                    netto: {{data.price?.priceNet | number : '1.2-2'}} PLN
                </span><br/>
                <span class="">
                    brutto: {{data.price?.priceGross | number : '1.2-2'}} PLN
                </span>
            </div>
            <div class="ms-auto">
                <quantity [minQuantity]="0" [quantity]="quantity" (quntityChanged)="quantityChanged($event)">
                </quantity>
            </div>
        </div>
    </div>