.promo-group {
    border: 2px solid #c2b6ff;    
    border-radius: 0.5em
}

.promo-header-title {
    padding: 1em;
}

.promo-header {
    border-radius: 0.5em 0.5em 0 0;
    background-color: #c2b6ff;
}