.carousel-container {
  /* Set a fixed height for the container */
  height: 300px; /* Adjust this value as needed */
  width: 100%;
  overflow: hidden; /* Important to prevent overflow if images are larger */
}

.carousel .slick-list,
.carousel .slick-track {
  height: 100%; /* Ensure slick components take full height of container */
}