<div class="row">
   <div class="col d-block d-md-none">
      <h4 class="mb-2">{{product?.name}}</h4>
   </div>
   <div class="col-md-5 col-xl-6 mb-4">
      <!-- img slide -->
      <div class="carousel-container">
         <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            @for (slide of slides; track slide.img) {
            <div ngxSlickItem class="slide">
               <img src='{{ slide.img }}' alt="">
            </div>
            }
         </ngx-slick-carousel>
      </div>

      <!-- product tools -->
      <div class="product-tools">
         <div class="thumbnails row g-3" id="productThumbnails">

         </div>
      </div>
   </div>
   <div class="col-md-7 col-xl-6">
      <div class="ps-lg-10 mt-6 mt-md-0">
         <div class="d-none d-md-block">
            <h4 class="mb-2">{{product?.name}}</h4>
         </div>
         <div>
            <!-- price -->
            <div>
               <span>Netto: </span>
               <span class="fw-bold text-dark">{{product?.price?.priceNet | number:'1.2-2'}} {{product?.price?.currencyName}}</span>
            </div>
            <div>
               <span>Brutto: </span>
               <span class="fw-bold text-dark">{{product?.price?.priceGross | number:'1.2-2'}} {{product?.price?.currencyName}}</span>
            </div>
            <div class="mt-2 mb-2">
               kategoria: <a href="/category/{{product?.categoryId}}">{{product?.categoryName}}</a>
               <span class="float-end">{{product?.code}}</span>
            </div>
         </div>
         <!-- hr -->
         <hr class="my-6" />
         <div class="mt-3 row justify-content-start g-2 align-items-center">
            <div class="col-xxl-4 col-lg-4 col-md-6 col-6 d-grid">
               <quantity (quntityChanged)="quantityChanged($event)"></quantity>

            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-6 d-grid">
               <!-- button -->
               <!-- btn -->
               <button type="button" class="btn btn-primary" (click)="addToCart()">
                  <i class="bi bi-cart-check"></i>
                  Do Koszyka
               </button>
            </div>
         </div>
         <div class="mt-3">
            <span>Dostępność: </span>
            <span>{{product?.stock}}</span>
         </div>
         <hr class="my-6" />
         <div>
            {{product?.description}}
         </div>
      </div>
   </div>
</div>

<product-added-window #productAddedWindow></product-added-window>