<div class="mb-3 p-2 border rounded-2 shadow-sm fs-6">
  <div>
    Wartość koszyka: 
  </div>
  <div>
    brutto: 
    <strong>{{itemsValueGross| number:'1.2-2'}} PLN</strong>
  </div>
  <div>
    netto: 
    <strong>{{itemsValueNet | number:'1.2-2'}} PLN</strong>
  </div>
  <!-- <div>
    <span>{{0 }}</span> PLN
    <span>{{0 }}</span> PLN
  </div> -->
</div>
<ul class="cart-list ps-0">
  @for (item of cartPromoItems; track item.id; let i = $index) {
    <div>
      <promo-cart-container [promoItem]="item" (itemRemove)="removePromoItem($event)">
      </promo-cart-container>
    </div>
  }
</ul>
<ul class="cart-list ps-0">
  @for (item of cartItemsNoPromos; track item.id) {
    <div>
      <cart-item [cartItem]="item" (itemRemove)="removeItem($event)"></cart-item>
    </div>
  }
</ul>

<confirm-modal-window #productRemoveWindow></confirm-modal-window>