<div class="modal" #productRemoveModal id="productRemoveModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuną produkt z koszyka?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie usuwaj</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="confirm()">Usuń</button>
        </div>
      </div>
    </div>
  </div>