<table class="table">
    <thead>
        <tr>
            <th scope="col">Numer</th>
            <th scope="col">Data</th>
            <th scope="col">Wartość/<br/>Do zapłaty</th>            
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data" [class.highlight]="item?.paymentToBeSettled ?? 0  > 0">
            <td scope="row">
                <a href="#" (click)="selectDocument(item); false">{{item.number}}</a><br>
                <span class="text-danger" *ngIf="item?.paymentToBeSettled ?? 0  > 0">Do zapłaty</span>
            </td>
            <td>{{item.issueDate | date:'shortDate'}}</td>
            <td class="text-end">{{item.totalGross | number:'1.2-2'}}<br/>
                <span *ngIf="item?.paymentToBeSettled ?? 0  > 0">
                {{item.paymentToBeSettled| number:'1.2-2'}}
                </span>
            </td>
        </tr>
    </tbody>
</table>