<div>
  <!-- View Mode -->
  @if (!editMode && customer)
  {
  <div>
    <div class="d-flex justify-content-between mb-3">
      <h2>{{ customer?.adrName }}</h2>
      <div class="">
        <button class="btn btn-primary btn-sm " (click)="edit()">
          <i class="bi bi-pencil-square"></i>
        </button>
      </div>
    </div>
    <div>{{ customer?.adrStreet }} {{ customer?.adrStreetNo }}</div>
    <div>{{ customer?.adrCity }} {{ customer?.adrZipCode }}</div>
    <div>
      <div>
        NIP: {{ customer?.adrNip }}
      </div>
    </div>
  </div>
  }
  <!-- Edit Mode -->
  @if (editMode && customerEdit)
  {
  <div>
    @if (customerId == 0)
    {
    <h5>Dodawanie kontrahenta</h5>
    }
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Nazwa: </label>
      <input id="name" class="form-control" [(ngModel)]="customerEdit.adrName" />
    </div>
    <div class="mb-3">
      <label for="street" class="form-label">Ulica: </label>
      <input id="street" class="form-control" [(ngModel)]="customerEdit.adrStreet" />
    </div>
    <div class="mb-3">
      <label for="streetNo" class="form-label">Numer domu: </label>
      <input id="streetNo" class="form-control" [(ngModel)]="customerEdit.adrStreetNo" />
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">Miejscowość: </label>
      <input id="city" class="form-control" [(ngModel)]="customerEdit.adrCity" />
    </div>
    <div class="mb-3">
      <label for="zipCode" class="form-label">Kod pocztowy: </label>
      <input id="zipCode" class="form-control" [(ngModel)]="customerEdit.adrZipCode" />
    </div>
    <div class="mb-3">
      <label for="nip" class="form-label">NIP: </label>
      <input id="nip" class="form-control" [(ngModel)]="customerEdit.adrNip" />
    </div>
    <br>
    <input type="button" class="btn btn-primary me-3" (click)="save()" value="Zapisz" />
    <button class="btn btn-secondary" (click)="cancel()">Anuluj</button>
  </div>
  }
</div>
@if (!editMode && customerId)
{
<div class="mb-3">

  <div class="border-bottom">
    <ul class="nav nav-underline mb-1" id="cartTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="products-tab" data-bs-toggle="tab" data-bs-target="#invoices-tab-pane"
          type="button" role="tab" aria-controls="products-tab-pane" aria-selected="true">Faktury</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#orders-tab-pane" type="button"
          role="tab" aria-controls="customer-tab-pane" aria-selected="false">Zamówienia</button>
      </li>
    </ul>
  </div>

  <div class="tab-content mt-3">

    <div class="tab-pane fade show active" id="invoices-tab-pane" role="tabpanel" tabindex="0">
      <invoices [customerId]="customerId"></invoices>
    </div>
    <div class="tab-pane fade show active" id="invoices-tab-pane" role="tabpanel" tabindex="0">
      <orders [customerId]="customerId"></orders>
    </div>

  </div>
</div>
}