<h5>Dokument został zapisany</h5>
<div>
  Numer:
  <a [routerLink]="['/invoice', documentId]" class="fw-bold">
    {{documentNumber}}
  </a>
</div>
<div class="mt-4">
  @if (docType == 'Invoice') {
    <button class="btn me-3" [ngClass]="{'btn-primary': !printInProgress, 'btn-secondary': printInProgress}" [disabled]="printInProgress" (click)="printInvoice()">
      Drukuj fakturę
    </button>
  }
  @if (paymentId != undefined && paymentId > 0) {
    <button class="btn" [ngClass]="{'btn-primary': !printInProgress, 'btn-secondary': printInProgress}" [disabled]="printInProgress" (click)="printCashReceipt()">
      Drukuj KP
    </button>
  }
</div>

