<h5>Zestaw promocyjny</h5>
<h6>{{promoSet.name}}</h6>

@if (isReady && isNew) {
  <div>
    <button type="button" class="btn btn-primary btn-sm mb-2" (click)="addPromoSetToCart()">
      <i class="bi bi-plus-lg"></i>
      Dodaj zestaw do koszyka
    </button>
  </div>
}
@if (!isReady && isNew) {
  <div>
    <div class="alert alert-warning" role="alert">
      Skompletuj zestaw promocyjny, aby dodać go do koszyka.
    </div>
  </div>
}
@if (isReady && !isNew && isModified) {
  <div>
    <div class="alert alert-danger" role="alert">
      Zestaw promocyjny został zmieniony ale nie jest zapisany. Kliknij poniżej aby zaktualizować go w koszyku.
    </div>
    <button type="button" class="btn btn-primary btn-sm mb-2" (click)="addPromoSetToCart()">
      <i class="bi bi-plus-lg"></i>
      Zaktualizuj zestaw w koszyku
    </button>
  </div>
}
@if (!isReady && !isNew) {
  <div>
    <div class="alert alert-warning" role="alert">
      Zestaw niekompletny
    </div>
  </div>
}

@for (promoItem of promoSet.promoItemsEdit; track promoItem) {
  <div class="row mb-3">
    <app-special-offer-edit-item [promoItemEdit]="promoItem" [promoSetId]="promoSet.id" (cartChangedEvent)="cartChangedEvent()"></app-special-offer-edit-item>
  </div>
}


