<aside class="col-xl-3 col-lg-4 col-md-4 mb-6 mb-md-0">
    <div id="sidebar">
       <div class="sidebar__inner">
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
             <div class="offcanvas-header d-lg-none">
                <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Kategorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
             </div>
             <div class="offcanvas-body p-lg-0">
                <app-categories></app-categories>
             </div>
          </div>
       </div>
    </div>
 </aside>