<!-- 
<nav class="nav nav-pills nav-justified">
  <a class="nav-link active" aria-current="page" href="#">Produkty</a>
  <a class="nav-link" href="#">Kontrahent</a>
  <a class="nav-link" href="#">Parametry</a>
  <a class="nav-link" href="#">Finalizacja</a>
</nav> -->

<div class="border-bottom">
  <ul class="nav nav-underline mb-1" id="cartTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="products-tab" data-bs-toggle="tab" data-bs-target="#products-tab-pane"
        type="button" role="tab" aria-controls="products-tab-pane" aria-selected="true">Produkty</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#customer-tab-pane" type="button"
        role="tab" aria-controls="customer-tab-pane" aria-selected="false">Kontrahent</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#options-tab-pane" type="button"
        role="tab" aria-controls="sell-tab-pane" aria-selected="false">Parametry</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#summary-tab-pane" type="button"
        role="tab" aria-controls="sell-tab-pane" aria-selected="false">Finalizacja</button>
    </li>
  </ul>
</div>
<div class="tab-content mt-3">

  <div class="tab-pane fade show active" id="products-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <h3>Produkty</h3>
    <cart-items>
    </cart-items>
  </div>

  <div class="tab-pane fade" id="customer-tab-pane" role="tabpanel" aria-labelledby="customer-tab" tabindex="0">
    <h3>Kontrahent</h3>
    <cart-customer>
    </cart-customer>
  </div>

  <div class="tab-pane fade " id="options-tab-pane" role="tabpanel" aria-labelledby="customer-tab" tabindex="0">
    <h3>Parametry</h3>
    <cart-options>
    </cart-options>
  </div>

  <div class="tab-pane fade " id="summary-tab-pane" role="tabpanel" aria-labelledby="customer-tab" tabindex="0">
    <h3>Finalizacja</h3>
    <cart-finalize (SaveTransaction)="saveTransaction()">
    </cart-finalize>
  </div>

</div>