<div class="col-xl-9 col-lg-8 col-md-12 mb-6 mb-md-0">
    <div class="bg-light-danger text-danger p-4 rounded bg-opacity-50 text-center mb-12 d-flex align-items-center justify-content-center">
       <p class="mb-0">
          First time here? Get 10% off your first order!
          <span class="link-danger link-underline-danger">Click here</span>
       </p>
       <span class="border-dashed border-danger py-1 px-3 text-danger rounded bg-light-danger ms-4">FIRSTTIME10</span>
    </div>
    <div class="row">
       <div class="col-12">
          <div class="row align-items-center mb-6">
             <div class="col-xl-10 col-lg-9 col-8">
                <div class="mb-4 mb-lg-0">
                   <h3 class="mb-1">New Products</h3>
                   <p class="mb-0">New products with updated stocks.</p>
                </div>
             </div>
             <div class="col-xl-2 col-lg-3 col-4 text-end">
                <a href="#" class="btn btn-light">View All</a>
             </div>
          </div>
          <div class="row row-cols-xl-4 row-cols-lg-3 g-4">
             <div class="col">
                <div class="mb-6">
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-instant-food.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-45%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Instant Food</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-atta-rice-dal.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-12%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Atta Rice & Dal</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$15</span>
                         <span class="text-decoration-line-through text-muted">$20</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                         </small>
                         <span class="text-muted small">5.0</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-baby-care.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-55%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Baby Care</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">3.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-tea-coffee-drinks.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-45%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Tea Coffee & Drinks</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-cleaning-essentials.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-25%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Cleaning Essentials</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$120</span>
                         <span class="text-decoration-line-through text-muted">$165</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-pet-care.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-55%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Pet Cares</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">3.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-chicken-meat-fish.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-45%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Salted Instant Popcorn</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-bakery-biscuits.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-25%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Bakery & Biscuits</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$120</span>
                         <span class="text-decoration-line-through text-muted">$165</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-pet-care.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-55%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Pet Cares</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">3.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-cleaning-essentials.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-25%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Cleaning Essentials</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$120</span>
                         <span class="text-decoration-line-through text-muted">$165</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>

             <!-- item -->
             <!-- item -->
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-bakery-biscuits.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-25%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Bakery & Biscuits</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$120</span>
                         <span class="text-decoration-line-through text-muted">$165</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col">
                <div class="mb-6">
                   <!-- card -->
                   <div class="card card-product mb-4">
                      <div class="card-body text-center py-8">
                         <!-- img -->
                         <a href="#"><img src="../assets/images/category/category-chicken-meat-fish.jpg" alt="Grocery Ecommerce Template" class="mb-3" /></a>
                         <!-- text -->
                      </div>
                   </div>
                   <div>
                      <span class="badge bg-danger rounded-pill">-45%</span>
                      <h2 class="mt-3 fs-6"><a href="#" class="text-inherit">Salted Instant Popcorn</a></h2>
                      <div>
                         <span class="text-dark fs-5 fw-bold">$18</span>
                         <span class="text-decoration-line-through text-muted">$24</span>
                      </div>
                      <div class="text-warning">
                         <!-- rating -->
                         <small>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                         </small>
                         <span class="text-muted small">4.5</span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>