<div class="modal fade" id="modal-subscribe" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-body p-0">
             <div class="d-flex align-items-center">
                <div class="d-none d-lg-block">
                   <img src="../assets/images/banner/modal_img.jpg" alt="" class="img-fluid rounded-start" />
                </div>
                <div class="px-8 py-8 py-lg-0">
                   <div class="position-absolute end-0 top-0 m-6">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <span class="bg-light-danger text-danger badge rounded-pill mb-4 px-4 py-2">7 Day Super Sale</span>
                   <h2 class="display-6 fw-bold">
                      Discount up to
                      <br />
                      <span class="text-primary">50%</span>
                   </h2>
                   <p class="lead mb-5">Seven day of grate deals - what could be better?</p>

                   <div class="d-grid">
                      <a href="#" class="btn btn-primary" data-bs-dismiss="modal">Start Show Now</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>