<!-- <h5>Kontrahenci</h5> -->
<div class="d-flex justify-content-between">
  <div>
    <input type="text" class="form-control" placeholder="Szukaj kontrahenta" [(ngModel)]="searchPattern" />
    @if (loading) {
      <div class="spinner-border" role="status"></div>
    }
  </div>
  <div>
    <button class="btn btn-primary btn-sm" (click)="addCustomer()">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
</div>
@if (!loading) {
  <div class="mt-4">
    @for (item of customerList; track item.id) {
      <div class="mt-3">
        <a href="#" (click)="selectCustomer(item.id); false">
          <span>{{item.adrName}}</span>
          <span class="ms-2 text-muted">{{item.adrCity}}, {{item.adrStreet}}</span>
        </a>
      </div>
    }
  </div>
}