<div class="modal" #modalWindow id="productRemoveModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            {{message}}
          </div>
          <div>
            @if(checkbox1Text != "") {
              <input type="checkbox" [(ngModel)]="checkBox1Value" /> {{checkbox1Text}}
            }
          </div>
          <div>
            @if (checkbox2Text != "") {
              <input type="checkbox" [(ngModel)]="checkBox2Value" /> {{checkbox2Text}}
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="clickAccept()">{{buttonAcceptText}}</button>
          <button type="button" class="btn btn-secondary" (click)="clickReject()">{{buttonRejectText}}</button>
        </div>
      </div>
    </div>
  </div>