.quantity {
    width: 3em;
}

.quantity-group {
    width: 9em;
}

.btn-quantity {
    background-color: rgba(var(--bs-primary-rgb));
    color: white;
}

.btn-quantity a {
    color: white;
    font-weight: 500;
}
