@media screen and (max-width: 768px) {
    .quantity {
        //width: 2em;
    }

    .quantity-group {
        width: 6em;
    }
}

@media screen and (min-width: 769px) {
    .quantity {
        width: 3em;
    }

    .quantity-group {
        width: 7em;
    }
}


.btn-quantity {
    background-color: rgba(var(--bs-primary-rgb));
    color: white;
}

.btn-quantity a {
    color: white;
    font-weight: 500;
}